*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/
save/
.vscode/
sprites/king/
sprites/standard/
sprites/Pixel_Crawler/
sprites/Tiles/
sprites/Portal
objs/
obj/

libft.a
so_long